<div class="navbar fixed-top custom-navbar" role="navigation">
	<div class="container">

		<!-- navbar header -->
		<div class="navbar navbar-expand-xl w-100">
			<a href="#" class="navbar-brand">Cricket League Tournament</a>

			<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		

			<div class="collapse navbar-collapse" id="navbarNav">

				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item"><a href="/" class="nav-link smoothScroll">Home</a></li>
					<li class="nav-item"><a href="/Teams" class="nav-link smoothScroll">Teams</a></li>
					<li class="nav-item"><a href="/Players" class="nav-link smoothScroll">Players</a></li>
					<li class="nav-item"><a href="/Results" class="nav-link smoothScroll">Results</a></li>
					<li class="nav-item"><a href="/Winner" class="nav-link smoothScroll">Winner</a></li>
					<li class="nav-item"><a href="/Stats" class="nav-link smoothScroll">Stats</a></li>
				</ul>

			</div>
		</div>
	</div>
</div>