
<section class="blog-list mtb-40" id="winner" class="parallax-section">
    <div class="container">
      <h1>WINNER OF THE TOURNAMENT</h1>
      <div class="row">
        <div class="col-md-12">
          <div class="blog-box mt-4 mb-3">
            <div class="list-group">
                <div class="blog-box list-group-item list-group-item-action disabled mt-3 mb-3">
                  <div class="row">
                    <div class="col-12">
                      <h1 class="align-middle alert-success_theme"><em>Final is pending.</em></h1>
                    </div>
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  